@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(32, 31, 31);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(56, 55, 55);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(70, 64, 64);
}

html {
  background-color: rgb(24, 23, 23);
}
